<div style="float:left" >
<fieldset style="width:50%">Testing
<form method=get>
  <label for="fname">Full Name</label></br>
  <input type="text" placeholder="try something" name="name"></br>
  <label for="email">Email</label></br>
  <input type="text" placeholder="try something" name="email"></br>
  <label for="phone">Phone</label></br>
  <input type="text" placeholder="try something" name="phone">
  <div style="border:outset 5px gold;width:10%"><a href="signup" style="text-align:center">Hit</a></div>
</form>
</fieldset>
</div>
